<h2 i18n>Organizations</h2>
<ul class="organizations">
  <li *ngFor="let org of organizations"
      [class.selected]="org === organization"
      (click)="onSelect(org)">
    <span class="badge">{{org.shortName}}</span> {{org.fullName}}
  </li>
</ul>

<div *ngIf="organization">

  <h2>{{organization.shortName | uppercase}} Details</h2>
  <div><span>ID: </span>{{organization.shortName}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="organization.fullName" placeholder="name"/>
    </label>
  </div>

</div>
